.vscode/**
.vscode-test/**
.changeset/**
.env
.gitignore
.yarnrc
src/**
node_modules/**
package-lock.json
images/demo.gif
images/icon.svg
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
